<!doctype html>
<html>
    <head>
        <title>JavaScript2</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>Information page.</h1>
        <hr>
            <% if (result) { %>
                <li>Title: <%= result.title %>
                <li>Author: <%= result.author %>
                <li>Year published: <%= result.year %>
                <li>Genres: <%= result.genres %>   
            <% } else { %>
                Sorry we did not find any information about this book.
            <% } %>      
            <br>
            <br>
            <br>
        <a href="javascript:history.back()">Go back to the list of books.</a>

    </body>
</html>