<!doctype html>
<html>
    <head>
        <title>JavaScript2</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>Hello there.</h1>
        <h2>Welcome to the home page.</h2>
        <hr>
        <h3>Books</h3>
            <% books.forEach(function(book) { %>
                <li><a href="/detail?title=<%= book.title %>"> <%= book.title %><%=","%> <%= book.author %></li>
            <% }); %>

    </body>
</html>





